algo: sac
envparameters:
  action_continuous: true
  action_space: 1
  action_high: 2
  action_low: -2
  n_player: 1
  obs_continuous: true
  obs_space: 3
  scenario: classic_Pendulum-v0
hyperparameters:
  batch_size: 64
  buffer_capacity: 10000
  c_lr: 0.001
  a_lr: 0.001
  alpha_lr: 0.001
  alpha: 0.2
  epsilon: 0.5
  epsilon_end: 0.05
  gamma: 0.99
  hidden_size: 64
  num_hid_layer: 1
  target_replace: 30
  network: critic
  policy_type: deterministic
  clip_param: 0.2
  target_entropy_ratio: 0.95
  tau: 0.001
  tune_entropy: false
seedparameters:
  seed_nn: 1
  seed_np: 1
  seed_random: 1
trainingparameters:
  evaluate_rate: 50
  learn_freq: 1
  learn_terminal: false
  max_episodes: 1000
  render: false
  save_interval: 50
